<footer>
    <div class="container">
    <p>Your Location details won't be saved or passed. Feel free and secure while using.</p>
    <% let year = new Date().getFullYear(); %>
    <p>Copyright © <%= year %></p>
</div>
</footer>